<ion-nav #madeBy></ion-nav>
<ion-nav #mycontent></ion-nav>

<ion-content class="has-header" scroll="false" class="ionic-content" padding>
  <ion-list inset>
    <ion-grid *ngIf="matrix">
      <ion-row *ngFor="let column of matrix">
        <ion-col *ngFor="let entry of column">
          <div class="square-not-selected-not-covered" [style.border-width]="''+(7/bordersize)+'vw'" (click)="addCoordinateToRule(entry); entry.select()"
               *ngIf="ruleCoordinateWrappers.indexOf(entry) === -1 && coveredCoordinates.indexOf(entry) === -1 && !entry.selected">
          <div class="text-in-block" [style.font-size]="''+(39/fontSize)+'vw'">
            {{entry.text}}
          </div>
          </div>
          <div class="square-selected" [style.border-width]="''+(7/bordersize)+'vw'" (click)="removeCoordinateFromRule(entry); entry.unselect();"
               *ngIf="ruleCoordinateWrappers.indexOf(entry) !== -1 && entry.selected">
            <div class="text-in-block" [style.font-size]="''+(39/fontSize)+'vw'">
              {{entry.text}}
            </div>
          </div>
          <div class="square-not-selected-and-covered" (click)="entry.unselect(); toggleMenu('mycontent'); setTempSolutions(entry);"
               [style.background]="entry.color" [style.border-width]="''+(7/bordersize)+'vw'"
               [style.border-left]="entry.border.left" [style.border-right]="entry.border.right"
               [style.border-bottom]="entry.border.bottom" [style.border-top]="entry.border.top"
               *ngIf="ruleCoordinateWrappers.indexOf(entry) === -1 && coveredCoordinates.indexOf(entry) !== -1">
            <div class="rule-display" [style.font-size]="''+(17/fontSize)+'vw'">
              {{entry.rule}}
            </div>
            <div class="text-in-block" [style.margin-top]="'-'+(1+(5/fontSize))+'vw'" [style.font-size]="''+(39/fontSize)+'vw'">
              {{entry.text}}
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-list>
  <div class="flex-container">
    <button class="add" icon-only ion-button (click)="pickAmount('#ed3d3d', getRuleType('add'))"><ion-icon name="add"></ion-icon></button>
    <button class="subtract" icon-only ion-button (click)="pickAmount('#57e057', getRuleType('subtract'))"><ion-icon name="remove"></ion-icon></button>
    <button class="multiply" icon-only ion-button (click)="pickAmount('#3f88ff', getRuleType('multiply'))"><ion-icon name="close"></ion-icon></button>
    <button class="divide" ion-button icon-only (click)="pickAmount('#c771ed', getRuleType('divide'))"><img class="image-divide" type="image/png" src="assets/icon/divide4.png"/></button>
    <button class="single" icon-only ion-button (click)="pickAmount('#ffe270', getRuleType('single'))"><ion-icon name="square"></ion-icon></button>
  </div>
  <div class="flex-container-solve">
    <button ion-button icon-right (click)="preSolve()">Solve<ion-icon name="checkmark"></ion-icon></button>
    <button ion-button icon-right (click)="reset()">Reset<ion-icon name="refresh"></ion-icon></button>
    <button ion-button icon-right (click)="setAndRestGrid(dimension)">{{dimension}} x {{dimension}}<ion-icon name="grid"></ion-icon></button>
    <button ion-button icon-only (click)="menuCtrl.toggle('madeBy')"><ion-icon name="help"></ion-icon></button>
  </div>

  <ion-item>
    <ion-range class="slider" min="0.1" max="10.1" step="0.5" snaps="true" color="secondary" [(ngModel)]="dimension">
      <ion-label range-left>0</ion-label>
      <ion-label range-right>10</ion-label>
    </ion-range>
  </ion-item>
</ion-content>

<ion-header>
  <ion-navbar>
    <ion-title align="center"><b>CalcuDokuSolver</b></ion-title>
  </ion-navbar>
</ion-header>

<ion-menu id="mycontent" [content]="mycontent">
  <ion-toolbar>
    <ion-title><b>
      Options</b>
    </ion-title>
  </ion-toolbar>
  <div class="flex-container-solutions">
      <div class="flex-column" *ngFor="let arrays of displaySolutions">
        <div class="options" *ngFor="let options of arrays">
          {{options}}
        </div>
      </div>
  </div>
</ion-menu>

<ion-menu side="right" id="madeBy" [content]="madeBy">
  <ion-toolbar>
    <ion-title><b>
      Instructions</b>
    </ion-title>
  </ion-toolbar>
  <div class="instructions">
    Pick the grid size with the slider bar and confirm with the corresponding button.<br><br>
    Select the squares and set them to a value with the operator buttons.<br><br>
    Use the yellow block button to set a single value.<br><br>
    Click on a set block of squares to see the unfiltered options. Just an aid to help you solve it on your own.<br><br>
    Fill in all the values of the grid to solve the CalcuDoku!
  </div>
  <hr size="10" noshade><br>
  <div class="credits"><b>Made By:</b></div><br>

  <div class="credits">Thijs van den Boomen</div><br>
  <div class="credits">Micha Kurvers</div><br>
  <div class="credits">Willem van der Tuuk</div>

</ion-menu>
