page-hello-ionic {

  .text-in-block{
    background: rgba(255, 255, 255, 0) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
    text-align: center;
  }

  ionic-content{
  }

  alert-box-text{
    text-align: center !important;
  }

  .list-ios[inset] {
    margin: -14vw 4vw -14vw 4vw !important;
    border-radius: 2px !important;
    overflow-y: hidden;
  }

  .list-md[inset] {
    margin: -14vw 4vw -14vw 4vw !important;
    border-radius: 2px !important;
    overflow-y:hidden;
  }
  .scroll-content {
    position: relative;
    padding: 0;
    top: 21.5vw;
    right: 0;
    bottom: 0;
    left: 0;
    display: initial;
    overflow-x: hidden;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    will-change: initial;
  }

  ion-grid {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: inline !important;
    -webkit-flex-direction: column !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    width: 100% !important;
  }

  ion-col {
    position: relative;
  }

  ion-col:before {
    content: "";
    display: block;
    padding-top: 100%;
  }

  .image-divide{
    width: 7vw !important;
    height: 7vw !important;
  }

  .button[icon-only] {
    padding: 0 !important;
    width: 14.5vw !important;
    height: 10vw !important;
  }

  .button {
    margin: 1vw 1vw !important;
    padding: 0 1vw !important;
    height: 10vw !important;
    width: 25vw !important;
    border-radius: 1vw !important;
    font-size: 4vw !important;
    font-weight: 500 !important;
    text-transform: uppercase !important;
    color: #fff !important;
    background-color: #387ef5 !important;
    box-shadow: 0 1vw 2vw 0 rgba(0, 0, 0, 0.14), 0 1vw 2vw -1vw rgba(0, 0, 0, 0.2), 0 1vw 1vw 0 rgba(0, 0, 0, 0.12) !important;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1) !important;
  }

  .square-selected {
    border: 1vw solid lightgrey;
    background: #7b8daa;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .square-not-selected-not-covered {
    border: 1vw solid lightgrey;
    background: #e0ecff;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .square-not-selected-and-covered{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .toolbar-title {
    display: block;
    padding: 1vw 0vw;
    font-size: 5.5vw;
    overflow: hidden;
    text-align: center;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .add{
    margin: 1vw;
    background: #ed3d3d !important;
    width: 50% !important;
    height: 50% !important;
  }
  .subtract{
    margin: 1vw;
    background: #57e057 !important;
    width: 50% !important;
    height: 50% !important;
  }
  .multiply{
    margin: 1vw;
    background: #3f88ff !important;
    width: 50% !important;
    height: 50% !important;
  }
  .divide{
    margin: 1vw;
    background: #c771ed !important;
    width: 50% !important;
    height: 50% !important;
  }

  .single{
    margin: 1vw;
    background: #ffe270 !important;
    width: 50% !important;
    height: 50% !important;
  }
  .rule-display {
    padding: 1vw;
    text-align: left;
    position: relative;
  }
  .options {
    padding: 1vw;
    font-family: "Lucida Console";
    text-align: center;
    position: relative;
    top: 3vw;
    font-size: 5vw;
  }
  .options2 {
    padding: 1vw;
    font-family: "Lucida Console";
    text-align: center;
    position: relative;
    top: 3vw;
    font-size: 7vw;
  }
  .credits {
    padding: 0vw;
    text-align: center;
    position: relative;
    top: -1vw;
    font-size: 4vw;
  }
  .instructions {
    padding: 7vw;
    text-align: left;
    position: relative;
    top: -2vw;
    font-size: 3vw;
  }
  .menu-inner {
    width: 70vw !important;
  }
  .flex-container {
    margin-top: 13vw !important;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-pack: center;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    border: none;
    height: 9%;
    background-color: white;
  }
  .flex-container-solve {
    align-items: center;
    justify-content: center;
    display: -webkit-flex;
    display: flex;
    flex-pack: center;
    -webkit-flex-direction: row;
    flex-direction: row;
    border:none;
    height: 10%;
    background-color: white;
  }
  .flex-container-solutions {
    flex-pack:center;
    overflow: hidden;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: row;
    width: 100%;
    height: 85vh;
    background-color: white;
    border:none;
    overflow-y: scroll;
  }

  .flex-column {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    width: 100%;
    border:none;
    height: 100%;
    background-color: white;
  }
  .item-block {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 10vw !important;
    height: 12vw !important;
    border: none !important;
    font-weight: normal;
    line-height: normal;
    text-align: initial;
    text-decoration: none;
    color: inherit;
  }
}

